@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CalculateResult

<h1>Calulator</h1>
<h4>Here is your result</h4>
<hr />

The result is... @Model.Result
