@model IEnumerable<MockAssessment7.Models.Donut>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Donut Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var donut in Model)
            {
                <tr>
                    <td>@donut.Id</td>
                    <td>@donut.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <form asp-controller="Home" asp-action="Search">
        <label for="id">Donut ID: </label>
        <input type="number" id="id" name="id" />
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
