@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Search">
    <label for="id">Donut ID: </label>
    <input type="number" id="id" name="id" />
    <button class="btn btn-primary" type="submit">Search</button>
</form>
